.bgimage{
	margin: 0;
	/* overflow: hidden; */
	/* background: #222; */
	background: radial-gradient(circle, #e6e8eb 0%, #4f5456 100%);
	min-height: 100vh;
	/* background-image: url("/assets/quiz.png"); */
	/* object-fit: cover; */
	/* background-size: co; */
  }


































/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif:700);
body{
	margin: 0;
	background: hsla(180, 95%, 15%, 1);
	font-family: 'Noto Serif', serif;
	font-size: 4em;
  overflow:hidden;
  width:100%;
  
}

 canvas {
	left: 50%;
	position: absolute;
	top :50%;
	transform :translate( -50%, -50% );
} */